package {{serviceClass.packageName}};
{{#imports}}import {{static}} {{.}};
{{/imports}}


public class {{serviceClass.className}}Impl {{inheritance}} {{serviceClass.className}} {

    {{#serviceClass.emitterMethods}}
    public {{returnType}} {{name}}({{parameters}) {
        emit("{{qualifier}}", {{parameterNames}});
    }
    {{/serviceClass.emitterMethods}}

}