package {{packageName}};

import com.jjslinked.model.ClientMessage;
import com.jjslinked.invokation.InvokerDispatcher;
import com.jjslinked.Context;

public class {{simpleName}}Invoker  {

    public void invoke(ClientMessage message) {

    }

}