{{#imports}}import '{{.}}'
{{/imports}}

export class {{remoteService.className}} {

    constructor(private emitter: Emitter, private receiver: Receiver) {}

    {{#remoteService.emitterMethods}}
    public {{name}}({{parameters}): Promise<{{returnType}}>  {
        return this.emitter.emit("{{qualifier}}", {{parameterNames}})
    }
    {{/remoteService.emitterMethods}}

    {{#remoteService.listenerMethod}}
    public {{name}}(): Observable<{{returnType}}>  {
        return this.receiver.onMessage('{{name}}').pipe(map(raw => convert(raw, {{returnType}})))
    }
    {{/remoteService.listenerMethod}}

}